In [1]:
from os import path

data_dir = "../ud120-projects/final_project/"
ed_pickle_path = path.join(data_dir, "final_project_dataset.pkl")
ed_names_path = path.join(data_dir, "poi_names.txt")

In [2]:
import pickle

enron_data = pickle.load(open(ed_pickle_path, "rb"))

In [3]:
len(enron_data)

146

In [4]:
len(list(enron_data.values())[0])

21

In [5]:
import pandas as pd

In [6]:
def to_comma_name(name):
    parts = name.split()
    if len(parts) > 1 and len(parts[1]) < 3:
        parts.pop(1)
    last = parts[0].capitalize()
    first = parts[1].capitalize() if len(parts)>1 else ""
    return f'{last}, {first}'

data = pd.DataFrame.from_dict(enron_data, orient='index')
data['name'] = data.index.map(to_comma_name)
data

,salary,to_messages,deferral_payments,total_payments,loan_advances,bonus,email_address,restricted_stock_deferred,deferred_income,total_stock_value,...,exercised_stock_options,from_messages,other,from_this_person_to_poi,poi,long_term_incentive,shared_receipt_with_poi,restricted_stock,director_fees,name
METTS MARK,365788,807,NaN,1061827,NaN,600000,mark.metts@enron.com,NaN,NaN,585062,...,NaN,29,1740,1,False,NaN,702,585062,NaN,"Metts, Mark"
BAXTER JOHN C,267102,NaN,1295738,5634343,NaN,1200000,NaN,NaN,-1386055,10623258,...,6680544,NaN,2660303,NaN,False,1586055,NaN,3942714,NaN,"Baxter, John"
ELLIOTT STEVEN,170941,NaN,NaN,211725,NaN,350000,steven.elliott@enron.com,NaN,-400729,6678735,...,4890344,NaN,12961,NaN,False,NaN,NaN,1788391,NaN,"Elliott, Steven"
CORDES WILLIAM R,NaN,764,NaN,NaN,NaN,NaN,bill.cordes@enron.com,NaN,NaN,1038185,...,651850,12,NaN,0,False,NaN,58,386335,NaN,"Cordes, William"
HANNON KEVIN P,243293,1045,NaN,288682,NaN,1500000,kevin.hannon@enron.com,NaN,-3117011,6391065,...,5538001,32,11350,21,True,1617011,1035,853064,NaN,"Hannon, Kevin"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
GRAMM WENDY L,NaN,NaN,NaN,119292,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,119292,"Gramm, Wendy"
CAUSEY RICHARD A,415189,1892,NaN,1868758,NaN,1000000,richard.causey@enron.com,NaN,-235000,2502063,...,NaN,49,307895,12,True,350000,1585,2502063,NaN,"Causey, Richard"
TAYLOR MITCHELL S,265214,533,227449,1092663,NaN,600000,mitchell.taylor@enron.com,NaN,NaN,3745048,...,3181250,29,NaN,0,False,NaN,300,563798,NaN,"Taylor, Mitchell"
DONAHUE JR JEFFREY M,278601,865,NaN,875760,NaN,800000,jeff.donahue@enron.com,NaN,-300000,1080988,...,765920,22,891,11,False,NaN,772,315068,NaN,"Donahue, Jeffrey"
GLISAN JR BEN F,274975,873,NaN,1272284,NaN,600000,ben.glisan@enron.com,NaN,NaN,778546,...,384728,16,200308,6,True,71023,874,393818,NaN,"Glisan, Ben"

In [7]:
len(data[data.poi == True])

18

In [8]:
with open(ed_names_path, 'rt') as names_file:
    lines = names_file.readlines()
    pois = set([line[4:].strip() 
           for line in lines
           if line.startswith("(")
    ])
pois, len(pois)

({'Bayley, Daniel',
  'Belden, Timothy',
  'Bermingham, David',
  'Bowen, Raymond',
  'Boyle, Dan',
  'Brown, James',
  'Calger, Christopher',
  'Causey, Richard',
  'Colwell, Wesley',
  'Darby, Giles',
  'DeSpain, Timothy',
  'Delainey, David',
  'Duncan, David',
  'Fastow, Andrew',
  'Fastow, Lea',
  'Forney, John',
  'Fuhs, William',
  'Furst, Robert',
  'Glisan, Ben',
  'Hannon, Kevin',
  'Hirko, Joseph',
  'Howard, Kevin',
  'Koenig, Mark',
  'Kopper, Michael',
  'Krautz, Michael',
  'Lawyer, Larry',
  'Lay, Kenneth',
  'Loehr, Christopher',
  'Mulgrew, Gary',
  'Rice, Kenneth',
  'Richter, Jeffrey',
  'Rieker, Paula',
  'Shelby, Rex',
  'Skilling, Jeffrey',
  'Yeager, Scott'},
 35)

In [9]:
poi_data = data[data.name.isin(pois)]
poi_data

,salary,to_messages,deferral_payments,total_payments,loan_advances,bonus,email_address,restricted_stock_deferred,deferred_income,total_stock_value,...,exercised_stock_options,from_messages,other,from_this_person_to_poi,poi,long_term_incentive,shared_receipt_with_poi,restricted_stock,director_fees,name
HANNON KEVIN P,243293,1045,NaN,288682,NaN,1500000,kevin.hannon@enron.com,NaN,-3117011,6391065,...,5538001,32,11350,21,True,1617011,1035,853064,NaN,"Hannon, Kevin"
COLWELL WESLEY,288542,1758,27610,1490344,NaN,1200000,wes.colwell@enron.com,NaN,-144062,698242,...,NaN,40,101740,11,True,NaN,1132,698242,NaN,"Colwell, Wesley"
RIEKER PAULA H,249201,1328,214678,1099100,NaN,700000,paula.rieker@enron.com,NaN,-100000,1918887,...,1635238,82,1950,48,True,NaN,1258,283649,NaN,"Rieker, Paula"
KOPPER MICHAEL J,224305,NaN,NaN,2652612,NaN,800000,michael.kopper@enron.com,NaN,NaN,985032,...,NaN,NaN,907502,NaN,True,602671,NaN,985032,NaN,"Kopper, Michael"
SHELBY REX,211844,225,NaN,2003885,NaN,200000,rex.shelby@enron.com,NaN,-4167,2493616,...,1624396,39,1573324,14,True,NaN,91,869220,NaN,"Shelby, Rex"
DELAINEY DAVID W,365163,3093,NaN,4747979,NaN,3000000,david.delainey@enron.com,NaN,NaN,3614261,...,2291113,3069,1661,609,True,1294981,2097,1323148,NaN,"Delainey, David"
LAY KENNETH L,1072321,4273,202911,103559793,81525000,7000000,kenneth.lay@enron.com,NaN,-300000,49110078,...,34348384,36,10359729,16,True,3600000,2411,14761694,NaN,"Lay, Kenneth"
BOWEN JR RAYMOND M,278601,1858,NaN,2669589,NaN,1350000,raymond.bowen@enron.com,NaN,-833,252055,...,NaN,27,1621,15,True,974293,1593,252055,NaN,"Bowen, Raymond"
BELDEN TIMOTHY N,213999,7991,2144013,5501630,NaN,5249999,tim.belden@enron.com,NaN,-2334434,1110705,...,953136,484,210698,108,True,NaN,5521,157569,NaN,"Belden, Timothy"
FASTOW ANDREW S,440698,NaN,NaN,2424083,NaN,1300000,andrew.fastow@enron.com,NaN,-1386055,1794412,...,NaN,NaN,277464,NaN,True,1736055,NaN,1794412,NaN,"Fastow, Andrew"
CALGER CHRISTOPHER F,240189,2598,NaN,1639297,NaN,1250000,christopher.calger@enron.com,NaN,-262500,126027,...,NaN,144,486,25,True,375304,2188,126027,NaN,"Calger, Christopher"
RICE KENNETH D,420636,905,NaN,505050,NaN,1750000,ken.rice@enron.com,NaN,-3504386,22542539,...,19794175,18,174839,4,True,1617011,864,2748364,NaN,"Rice, Kenneth"
SKILLING JEFFREY K,1111258,3627,NaN,8682716,NaN,5600000,jeff.skilling@enron.com,NaN,NaN,26093672,...,19250000,108,22122,30,True,1920000,2042,6843672,NaN,"Skilling, Jeffrey"
YEAGER F SCOTT,158403,NaN,NaN,360300,NaN,NaN,scott.yeager@enron.com,NaN,NaN,11884758,...,8308552,NaN,147950,NaN,True,NaN,NaN,3576206,NaN,"Yeager, Scott"
HIRKO JOSEPH,NaN,NaN,10259,91093,NaN,NaN,joe.hirko@enron.com,NaN,NaN,30766064,...,30766064,NaN,2856,NaN,True,NaN,NaN,NaN,NaN,"Hirko, Joseph"
KOENIG MARK E,309946,2374,NaN,1587421,NaN,700000,mark.koenig@enron.com,NaN,NaN,1920055,...,671737,61,150458,15,True,300000,2271,1248318,NaN,"Koenig, Mark"
CAUSEY RICHARD A,415189,1892,NaN,1868758,NaN,1000000,richard.causey@enron.com,NaN,-235000,2502063,...,NaN,49,307895,12,True,350000,1585,2502063,NaN,"Causey, Richard"
GLISAN JR BEN F,274975,873,NaN,1272284,NaN,600000,ben.glisan@enron.com,NaN,NaN,778546,...,384728,16,200308,6,True,71023,874,393818,NaN,"Glisan, Ben"

In [10]:
data.columns

Index(['salary', 'to_messages', 'deferral_payments', 'total_payments',
       'loan_advances', 'bonus', 'email_address', 'restricted_stock_deferred',
       'deferred_income', 'total_stock_value', 'expenses',
       'from_poi_to_this_person', 'exercised_stock_options', 'from_messages',
       'other', 'from_this_person_to_poi', 'poi', 'long_term_incentive',
       'shared_receipt_with_poi', 'restricted_stock', 'director_fees', 'name'],
      dtype='object')

In [11]:
data[data.name == 'Prentice, James'].total_stock_value

PRENTICE JAMES    1095040
Name: total_stock_value, dtype: object

In [12]:
data[data.name == 'Colwell, Wesley'].from_this_person_to_poi

COLWELL WESLEY    11
Name: from_this_person_to_poi, dtype: object

In [13]:
data[data.name == 'Skilling, Jeffrey'].total_payments

SKILLING JEFFREY K    8682716
Name: total_payments, dtype: object

In [14]:
data[data.name == 'Fastow, Andrew'].total_payments

FASTOW ANDREW S    2424083
Name: total_payments, dtype: object

In [15]:
data[data.name == 'Lay, Kenneth'].total_payments

LAY KENNETH L    103559793
Name: total_payments, dtype: object

In [16]:
data[data.salary.notna()]

,salary,to_messages,deferral_payments,total_payments,loan_advances,bonus,email_address,restricted_stock_deferred,deferred_income,total_stock_value,...,exercised_stock_options,from_messages,other,from_this_person_to_poi,poi,long_term_incentive,shared_receipt_with_poi,restricted_stock,director_fees,name
METTS MARK,365788,807,NaN,1061827,NaN,600000,mark.metts@enron.com,NaN,NaN,585062,...,NaN,29,1740,1,False,NaN,702,585062,NaN,"Metts, Mark"
BAXTER JOHN C,267102,NaN,1295738,5634343,NaN,1200000,NaN,NaN,-1386055,10623258,...,6680544,NaN,2660303,NaN,False,1586055,NaN,3942714,NaN,"Baxter, John"
ELLIOTT STEVEN,170941,NaN,NaN,211725,NaN,350000,steven.elliott@enron.com,NaN,-400729,6678735,...,4890344,NaN,12961,NaN,False,NaN,NaN,1788391,NaN,"Elliott, Steven"
CORDES WILLIAM R,NaN,764,NaN,NaN,NaN,NaN,bill.cordes@enron.com,NaN,NaN,1038185,...,651850,12,NaN,0,False,NaN,58,386335,NaN,"Cordes, William"
HANNON KEVIN P,243293,1045,NaN,288682,NaN,1500000,kevin.hannon@enron.com,NaN,-3117011,6391065,...,5538001,32,11350,21,True,1617011,1035,853064,NaN,"Hannon, Kevin"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
GRAMM WENDY L,NaN,NaN,NaN,119292,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,119292,"Gramm, Wendy"
CAUSEY RICHARD A,415189,1892,NaN,1868758,NaN,1000000,richard.causey@enron.com,NaN,-235000,2502063,...,NaN,49,307895,12,True,350000,1585,2502063,NaN,"Causey, Richard"
TAYLOR MITCHELL S,265214,533,227449,1092663,NaN,600000,mitchell.taylor@enron.com,NaN,NaN,3745048,...,3181250,29,NaN,0,False,NaN,300,563798,NaN,"Taylor, Mitchell"
DONAHUE JR JEFFREY M,278601,865,NaN,875760,NaN,800000,jeff.donahue@enron.com,NaN,-300000,1080988,...,765920,22,891,11,False,NaN,772,315068,NaN,"Donahue, Jeffrey"
GLISAN JR BEN F,274975,873,NaN,1272284,NaN,600000,ben.glisan@enron.com,NaN,NaN,778546,...,384728,16,200308,6,True,71023,874,393818,NaN,"Glisan, Ben"

In [17]:
len(data[data.salary != 'NaN'])

95

In [18]:
len(data[data.email_address!= 'NaN'])

111

In [19]:
len(data[data.total_payments == 'NaN']) * 100.0 / len(data)

14.383561643835616

In [20]:
len(poi_data[poi_data.total_payments == 'NaN']) * 100.0 / len(poi_data)

0.0

In [21]:
len(data)+10

156

In [22]:
len(data[data.total_payments == 'NaN']) + 10

31

In [23]:
len(data[data.poi==True])+10

28